$url : '../img/';
$version : '?=v191024';

$white : #fff;
$color1 : #42b983;
$color2 : #2c3e50;
$color3 : #4e6e8e;
$color4 : #e4f5ef;

$point1 : #5c41ca;
$point2 : #846fd8;
$point3 : #f2b0b0;

$fontf :  Malgun Gothic, dotum, "돋움", AppleGothic, NanumGothic, Lucida Grande, Tahoma, gulim, Arial, helvetica;

$tablet : 768px;